:root {
/*    variable go here*/
/*    temp color scheme*/
    --bg: #494850;
    --header-bg: black;
    --nav-bg: #2C2C34;
    --nav-hover: var(--bg);
    --base: #ece9e6;
    --accent1: #348AA7;
    --accent2: #0FFF95;
    --text-light: white;
    --text-dark: black;
    --h1-bg: var(--accent1);

}

.header {
    border-bottom: var(--accent1) 5px solid;
    background-color: var(--header-bg);
}

.banner {
    display: block;
    padding-top: 7px;
    margin: 0 auto;
}

.nav-bar {
    background-color: var(--nav-bg);
    list-style-type: none;
    height: fit-content;
    margin:0;
    padding: 0 0.5em;
}

.nav-bar li {
    display: inline-block;
}

.nav-bar li:hover {
    background-color: var(--nav-hover);
}

.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
}

.nav-bar li a {
    display: inline-block;
    color: var(--text-light);
    /* Change depending on color of --nav-bg */
    padding: 1em;
    text-decoration: none;
}

body {
    margin:0;
    background-color: var(--bg);
}