:root {
    --bg: #494850;
    --nav-bg: #FFFFFF;
    --nav-hover: var(--bg);
    --accent1: #EE0A9A;
}

#northern-force-text {
}

.nav-bar {
    background-color: var(--nav-bg);
    border-bottom: var(--accent1) 5px solid;
    height: fit-content;
    margin: 0;
    padding: 0 0.5em;
    position: sticky;
    top: 0;
}

.nav-bar a {
    display: block;
    text-align: center;
    padding: 6px 16px 10px 16px;
    text-decoration: none;
    float: right;
}

body {
    margin: 0;
    background-color: var(--bg);
}